.add-insurance-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: calc(100vh - 64px); /* Adjust for header height */
  background-color: #ffffff;
  padding-top: 30px; /* Push content below header */
}

.add-insurance-background-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.add-insurance-section-image-container img {
  max-width: 500px;
  height: auto;
  margin-left: 50px;
}

.add-insurance-section-text-container {
  max-width: 600px;
  padding: 20px;
  margin-right: 15%;
}

.primary-insurance-subheading {
  color: #ff6a00;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.primary-insurance-heading {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.primary-text {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
}
.add-insurance-buttons-container {
    display: flex; /* Ensures buttons are in a row */
    gap: 10px; /* Adds space between buttons */
    margin-top: 20px; /* Adjusts spacing from above content */
  }


.add-insurance-buttons-container .primary-button {
  /* background-color: #ff6a00; */
  background-color: orange;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-insurance-buttons-container .primary-insurance-button:hover {
  background-color: orange;
}
